.chat-detail-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* max-width: 500px; */
  margin: auto;
  border: 1px solid #ddd;
  background-color: #fff;
  font-family: sans-serif;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
  border-bottom: 1px solid #eee;
}

.chat-header .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-header h6 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.online-dot {
  color: green;
  font-size: 12px;
}

.chat-body {
  flex: 1;
  overflow-y: auto;
  padding: 100px;
  background-color: #f9f9f9;
}

.chat-message {
  display: flex;
  margin-bottom: 10px;
}

.chat-message.sent {
  justify-content: flex-end;
}

.chat-message.received {
  justify-content: flex-start;
}

.message-bubble {
  max-width: 70%;
  background-color: #e5efff;
  padding: 10px 15px;
  border-radius: 15px;
  position: relative;
}

.chat-message.sent .message-bubble {
  background-color: #007bff;
  color: white;
  border-bottom-right-radius: 0;
}

.chat-message.received .message-bubble {
  background-color: #f1f1f1;
  color: black;
  border-bottom-left-radius: 0;
}

.time {
  display: block;
  font-size: 11px;
  margin-top: 5px;
  opacity: 0.6;
  text-align: right;
  color: #000000;
}

.chat-date-divider {
  text-align: center;
  margin: 20px 0 10px;
  font-size: 12px;
  color: #888;
}

.chat-input-area {
  display: flex;
  padding: 10px 100px;
  border-top: 1px solid #eee;
  background-color: #fff;
}

.chat-input-area input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
}

.chat-input-area button {
  background-color: #007bff;
  color: white;
  border: none;
  margin-left: 10px;
  padding: 0 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
